body {
    font-family: Merriweather;
    margin: 0;
    padding: 0;
}

.sticky-header .logo {
    height: 65px;
    width: auto;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #550C18;
    color: white;
    padding: 10px 0;
    width: 100%;
    z-index: 1000;
}

.sticky-header .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.sticky-header h1 {
    margin: 0;
    font-size: 24px;
}

.sticky-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.sticky-header nav ul li {
    margin-left: 20px;
}

.sticky-header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

.sticky-header nav ul li a:hover {
    background-color: #7B1E30;
    border-radius: 4px;
}

main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1,
h2 {
    color: #550C18;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group select,
.form-group option {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #550C18;
    border-width: 2px;
    outline: none;
}

.form-group option:hover {
    background-color: whitesmoke;
}

button {
    background-color: #550C18;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #7B1E30;
}

.results {
    margin-top: 20px;
    text-align: center;
}

footer {
    background-color: #550C18;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.copy {
    margin: 0;
}