body {
    font-family: Merriweather;
    margin: 0;
    padding: 0;
}

.zagljavlje .logo {
    height: 65px;
    width: auto;
}

.zagljavlje {
    position: sticky;
    top: 0;
    background-color: #550C18;
    color: white;
    padding: 10px 0;
    width: 100%;
    z-index: 1000;
}

.zagljavlje .element-zaglavlja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.zagljavlje h1 {
    margin: 0;
    font-size: 24px;
}

.zagljavlje nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.zagljavlje nav ul li {
    margin-left: 20px;
}

.zagljavlje nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

.zagljavlje nav ul li a:hover {
    background-color: #7B1E30;
    border-radius: 4px;
}

.sadrzaj {
    position: relative;
    height: 60vh;
    padding: 40px 0;
    background-color: #a0a0a0;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center calc(50% + 120px);
    text-align: center;
    margin-bottom: 0;
}

.sadrzaj h1 {
    text-align: center;
    font-size: 38px;
    margin: 0 auto;
    color: #000000;
}

.sadrzaj h1 span {
    color: #FFD700;
    filter: drop-shadow(1px 1px 2px #FFD700);
}

.pozadina {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sadrzaj-tekst {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    margin-top: 9%;
    width: 37%;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 17px;
}

.sadrzaj-tekst h2 {
    margin-top: 0;
    margin-bottom: 35px;
}

.sadrzaj-tekst button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 0;
}

.sadrzaj-tekst button:hover {
    background-color: #575757;
}

section {
    margin-bottom: 40px;
}

.kontaktirajte-nas {
    margin: 0 auto;
    padding-bottom: 40px;
}

.kontaktirajte-nas h1 {
    font-size: 44px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 30px;
}

.kontakt {
    flex: 1;
    margin: 20px;
    padding: 20px;
    text-align: center;
    max-width: 30%;
}

.kontakt .icon {
    width: 32px;
    height: 32px;
}

.kontakt p:hover {
    color: #550C18;
}

.kontakt hr {
    margin: 20px 0;
    border: none;
}

.razdjeljnik {
    width: 1px;
    background-color: #000;
    height: auto;
    align-self: stretch;
}

footer {
    background-color: #550C18;
    color: white;
    padding-top: 0.5%;
    text-align: center;
}

.copyright {
    margin: 0;
    padding: 0.5%;
}